// Gray Scale
// ------------------
$white: #ffffff !default;
$black: #000000 !default;

$gray-02: #fbfafc !default;
$gray-03: #f7f7f7 !default;
$gray-05: #f3f2f4 !default;
$gray-08: #eaebec !default;
$gray-10: #e6e5e7 !default;
$gray-12: #dfdee0 !default;
$gray-15: #d8d8d9 !default;
$gray-20: #cbcccd !default;
$gray-30: #b2b3b7 !default;
$gray-40: #999896 !default;
$gray-50: #818082 !default;
$gray-60: #656668 !default;
$gray-70: #4a4d4f !default;
$gray-80: #323335 !default;
$gray-90: #181a1c !default;

$grays: (
    '2': $gray-02,
    '5': $gray-05,
    '8': $gray-08,
    '10': $gray-10,
    '12': $gray-12,
    '15': $gray-15,
    '20': $gray-20,
    '30': $gray-30,
    '40': $gray-40,
    '50': $gray-50,
    '60': $gray-60,
    '70': $gray-70,
    '80': $gray-80,
    '90': $gray-90
) !default;

// Visual Identity Colors
// ------------------
$primary: #388eee !default;
$primary-dark: darken($primary, 10%) !default;
$primary-gray: desaturate($primary-dark, 30%) !default;

$secondary: #466281 !default;


$light: #f4f3f5 !default;
$dark: #373c38 !default;
$shadow: #2f1426 !default;

$vi-colours: (
    primary: $primary,
    secondary: $secondary,
    light: $light,
    dark: $dark
) !default;

// Opacity
// ------------------
$opacity-lv0: 1 !default;
$opacity-lv1: .87 !default;
$opacity-lv2: .70 !default;
$opacity-lv3: .54 !default;
$opacity-lv4: .38 !default;
$opacity-lv5: .24 !default;
$opacity-lv6: .12 !default;
$opacity-lv7: .08 !default;
$opacity-lv8: .05 !default;
$opacity-lv9: .02 !default;

// Status Colors
// ------------------
$success: #16aa7a !default;
$warning: #fc7220 !default;
$danger: #9f0d0e !default;

$status-colours: (
    success: $success,
    warning: $warning,
    danger: $danger
) !default;

// Colour Tickets
// ------------------
$clr-red: #d0104c !default;
$clr-orange: #f75c2f !default;
$clr-fire: #ffb11b !default;
$clr-yellow: #fbe251 !default;
$clr-olive: #86c166 !default;
$clr-sapphire: #66bab7 !default;
$clr-cyan: #2ea9df !default;
$clr-magenta: #c1328e !default;
$clr-bone: #b19693 !default;
$clr-silver: #bdc0ba !default;
$clr-momo: #f596aa !default;
$clr-rosewood: #b5495b !default;
$clr-skin: #d7b98e !default;
$clr-chartreuse: #bec23f !default;
$clr-green: #1b813e !default;
$clr-aegean: #2b5f75 !default;
$clr-blue: #005CAF !default;
$clr-violet: #66327c !default;
$clr-brown: #563f2e !default;
$clr-gray: #646a68 !default;

$colours: (
    'red': $clr-red,
    'orange': $clr-orange,
    'fire': $clr-fire,
    'yellow': $clr-yellow,
    'olive': $clr-olive,
    'sapphire': $clr-sapphire,
    'cyan': $clr-cyan,
    'magenta': $clr-magenta,
    'bone': $clr-bone,
    'silver': $clr-silver,
    'momo': $clr-momo,
    'rosewood': $clr-rosewood,
    'skin': $clr-skin,
    'chartreuse': $clr-chartreuse,
    'green': $clr-green,
    'aegean': $clr-aegean,
    'blue': $clr-blue,
    'violet': $clr-violet,
    'brown': $clr-brown,
    'gray': $clr-gray
) !default;

// Third Brand Colours
// ------------------
$tbc-youtube: #ff0000;
$tbc-googleplus: #dd4b39;
$tbc-pinterest: #cb2027;
$tbc-quora: #a82400;
$tbc-weibo: #df2029;
$tbc-reddit: #ff4500;
$tbc-rss: #f26522;
$tbc-snapchat: #fffc00;
$tbc-whatsapp: #25d366;
$tbc-wechat: #09b83e;
$tbc-line: #00c300;
$tbc-slack: #3aaf85;
$tbc-behance: #1769ff;
$tbc-messager: #0084ff;
$tbc-skype: #00aff0;
$tbc-dropbox: #007ee5;
$tbc-viemo: #1ab7ea;
$tbc-twitter: #55acee;
$tbc-linkedin: #0077b5;
$tbc-facebook: #3b5999;
$tbc-vk: #4c75a3;
$tbc-paypal: #003087;
$tbc-tumble: #34465d;

$third-brand-colours: (
    'youtube': $tbc-youtube,
    'googleplus': $tbc-googleplus,
    'pinterest': $tbc-pinterest,
    'quora': $tbc-quora,
    'weibo': $tbc-weibo,
    'reddit': $tbc-reddit,
    'rss': $tbc-rss,
    'snapchat': $tbc-snapchat,
    'whatsapp': $tbc-whatsapp,
    'wechat': $tbc-wechat,
    'line': $tbc-line,
    'slack': $tbc-slack,
    'behance': $tbc-behance,
    'messager': $tbc-messager,
    'skype': $tbc-skype,
    'dropbox': $tbc-dropbox,
    'viemo': $tbc-viemo,
    'twitter': $tbc-twitter,
    'linkedin': $tbc-linkedin,
    'facebook': $tbc-facebook,
    'vk': $tbc-vk,
    'paypal': $tbc-paypal,
    'tumble': $tbc-tumble,
) !default;

// Fonts
// ------------------
$font-size: 16 !default;
$font-size-xs: 12 !default;
$font-size-sm: 14 !default;
$font-size-lg: 20 !default;
$font-size-xl: 24 !default;

$text-padding: 10 !default;
$line-height-number: ($text-padding + $font-size) !default;
$line-height: ($line-height-number / $font-size) !default;

$font-family-ui: system, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans' !default;
$font-family-symbol: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-family-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-handwriting: cursive, serif;
$font-family-monospace: 'Fira Pro', 'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', Courier, monospace !default;

$font-family-asia-japan: 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ヒラギノ丸ゴ ProN W4', '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic', 'ＭＳ ゴシック' , Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic' !default;
$font-family-asia-hant: 'PingFang TC', 'Hiragino Sans CNS', 'Heiti TC', '儷黑 Pro', 'LiHei Pro', 'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei New', 'Microsoft YaHei', '微软雅黑', '文泉驛正黑', 'WenQuanYi Zen Hei', Meiryo !default;

$font-family-asia-japan-serif: $font-family-serif, 'Noto Serif JP', 'YuMincho', 'Hiragino Mincho', 'MS Mincho', 'MS PMincho' !default;
$font-family-asia-hant-serif: $font-family-serif, 'Noto Serif TC', 'Droid Serif', 'TW-Kai', 'BiauKai', 'STKaiti', 'Apple LiSung Light', 'LiSong Pro', 'DFKai-SB', 'KaiTi', 'KaiTi_GB2312', 'FangSong', 'NSimSun', 'SimSun'!default;

$font-family-default: $font-family-ui, $font-family-symbol !default;

// Radius
// ------------------
$radius-base: 4 !default; // 4px
$radius-sm: $radius-base * 0.5 !default; // 2px
$radius-lg: $radius-base * 2 !default; // 8px
$radius-xl: $radius-base * 4 !default; // 16px
$radius-circle: 50% !default;
